# Conda commands (for reference only)
# conda create -n textS python=3.8
# conda activate textS
# conda deactivate

# Optional: to treat 'src' as root for module resolution (Streamlit may not use this)
# $env:PYTHONPATH = "src"

transformers[sentencepiece]
datasets
sacrebleu
rouge_score
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
streamlit
pyttsx3
PyMuPDF
pdf2image
pytesseract
Pillow
pdfplumber  # Optional: if you want to use it instead of fitz
-e .
